@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap'); /* Alternative to Futura */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap'); /* Alternative to Avenir */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap'); /* Alternative to Eurostile */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap'); /* Alternative to Helvetica */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Slope at the bottom */
.clip-sloped {
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
}

.clip-sloped-right {
  clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 85%);
}

/* Slope at the top */
.clip-sloped-top {
  clip-path: polygon(0 15%, 100% 0, 100% 85%, 0% 100%);
}

.clip-sloped-right-top {
  clip-path: polygon(0 0, 100% 15%, 100% 100%, 0% 85%);
}




